@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;400;700&display=swap");


.ql-editor-ltr {
    direction: ltr;
    text-align: left;
  }
  
  .ql-editor-rtl {
    direction: rtl;
    text-align: right;
  }
  


  .logo {
		/* border: 4px white solid; */
		/* box-shadow: 1px 1px 3px black; */
		animation: rotateAnimation 5s linear infinite;
  }



  @layer components {

 
    
  }





  @keyframes rotateAnimation {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }



  /*******************************************************/

a div >  video {
  width: 100% !important;
  height: 100% !important;
}

.about-images {
  position: relative;
  margin-bottom: -30px; }
  @media only screen and (min-width: 1400px) {
    .about-images {
      margin-left: -125px; } }
  @media only screen and (min-width: 1200px) {
    .about-images {
      margin-right: 65px; } }
  .about-images img {
    width: 100%;
    margin-bottom: 30px; }
  .about-images .offer {
    left: 50%;
    bottom: 6%;
    max-width: 40%;
    position: absolute;
    -webkit-transform: translate(-60%);
    -ms-transform: translate(-60%);
    transform: translate(-60%); }


    .about-images .offer {
      left: 50%;
      bottom: 6%;
      max-width: 40%;
      position: absolute;
      -webkit-transform: translate(-60%);
      -ms-transform: translate(-60%);
      transform: translate(-60%); }