@tailwind base;
@tailwind components;
@tailwind utilities;



.ql-editor-ltr {
    direction: ltr;
    text-align: left;
  }
  
  .ql-editor-rtl {
    direction: rtl;
    text-align: right;
  }
  


  .logo {
		border: 4px white solid;
		box-shadow: 1px 1px 3px black;
		animation: rotateAnimation 5s linear infinite;
  }



  @keyframes rotateAnimation {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
